<div class="banner flex items-center justify-center bg-gray-100 px-3 py-2">
  <div class="w-full max-w-md rounded-lg bg-white p-8 shadow-lg">
    <h2 class="mb-6 text-center text-3xl font-bold text-blue-800">
      Iniciar Sesión
    </h2>
    <form>
      <div class="mb-4">
        <label class="mb-2 block font-bold text-gray-700" for="email"
          >Correo Electrónico</label
        >
        <input
          class="w-full rounded-lg border px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
          type="email"
          id="email"
          placeholder="Ingresa tu correo"
          required
        />
      </div>
      <div class="mb-6">
        <label class="mb-2 block font-bold text-gray-700" for="password"
          >Contraseña</label
        >
        <input
          class="w-full rounded-lg border px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
          type="password"
          id="password"
          placeholder="Ingresa tu contraseña"
          required
        />
      </div>
      <div
        class="mb-6 flex flex-wrap items-center justify-between gap-x-4 gap-y-2"
      >
        <label class="flex items-center">
          <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600" />
          <span class="ml-2 text-gray-700">Recuérdame</span>
        </label>
        <a href="#" class="text-blue-500 hover:underline"
          >¿Olvidaste tu contraseña?</a
        >
      </div>
      <button
        class="w-full transform rounded-lg bg-blue-800 px-4 py-2 font-bold text-white transition-all duration-300 hover:scale-105 hover:bg-blue-700"
      >
        Iniciar Sesión
      </button>
    </form>
    <div class="mt-6 text-center">
      <p class="text-gray-700">
        ¿No tienes una cuenta?
        <a routerLink="/sign-up" class="text-blue-500 hover:underline"
          >Regístrate</a
        >
      </p>
    </div>
  </div>
</div>
