@import url("https://use.typekit.net/npd8ime.css");

html, body {
    height: 100%;
    overflow: hidden;
    background-color: #131313;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "muli", sans-serif;
    font-weight: 200;
    scroll-behavior: smooth;
}

.animated-ball-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.animated-ball {
    width: 2em;
    height: 2em;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    animation: bounce 2.5s normal forwards;
}
.animated-ball-shadow-1 {
    background-color: rgba(255, 255, 255, 0.5);
    animation: bounce 2.5s 0.025s normal forwards;
}
.animated-ball-shadow-2 {
    background-color: rgba(255, 255, 255, 0.25);
    animation: bounce 2.5s 0.050s normal forwards;
}

.animated-title {
    display: flex;
    gap: 10em;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.animated-title span {
    animation: appear 4s forwards;
    opacity: 0;
    font-size: 2em;
    user-select: none;
    text-shadow: 0 0 0.2em, 0 0 0.4em, 0 0 0.6em, 0 0 0.8em, 0 0 1em;
}

.animated-z {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    width: 0px;
    height: 0px;
    color: #131313;
    animation: expaned-circle 5s ease-out forwards;
    animation-delay: 2.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.animated-z span {
    text-shadow: 0px 0px 0.2em #fff, 0px 0px 0.4em #fff, 0px 0px 0.6em #fff, 0px 0px 0.8em #fff, 0px 0px 1em #fff;
}

@media (width < 1024px) {
    .animated-ball {
        width: 2em;
        height: 2em;
    }
    .animated-title {
        gap: 5em;
    }
    .animated-title span {
        font-size: 1.8em;
    }
}

@media (width < 768px) {
    .animated-ball {
        width: 1em;
        height: 1em;
    }
    .animated-title {
        gap: 3em;
    }
    .animated-title span {
        font-size: 1.3em;
    }
}

@media (width < 480px) {

}