@import url("https://use.typekit.net/npd8ime.css");
@import 'node_modules/bootstrap-icons/font/bootstrap-icons.min.css';

:root {
    --light: #ffffff;
    --dark: #131313;
    --initial-background-color: var(--dark);
    --final-background-color: var(--light);

    --text-color: var(--dark);
}

html, body {
    height: 100%;
    overflow: hidden;
    background-color: var(--final-background-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "muli", sans-serif;
    font-weight: 200;
    scroll-behavior: smooth;
    animation: body-color 7.5s steps(1);
    transition: 200ms background-color;
}

.lightmode-button-container {
    position: fixed;
    right: 0;
    background-color: var(--initial-background-color);
    z-index: 2;
    padding-left: .5em;
    padding-bottom: .5em;
    border-bottom-left-radius: 2em;
    transition: 200ms;
}

.lightmode-button-container:hover, .lightmode-button-container:focus {
    border-bottom-left-radius: 3em;
    font-size: 1.05em;
    padding-left: 1em;
    padding-bottom: 1em;
    transition: 200ms;
}
.lightmode-expanding-circle {
    width: 0em;
    height: 0em;
    top: 0;
    right: 0;
    z-index: 0;
    border-bottom-left-radius: 3em;
    position: absolute;
    background-color: var(--final-background-color);
    transition: 1s;
}
.lightmode-expanding-circle-animation {
    animation: lightmode-expanding-circle 1s ease-in-out forwards;
}

.lightmode-button-container button {
    padding: 1em;
    background-color: transparent;
    color: var(--final-background-color);
    font-size: 1em;
    border: 0;
}

.animated-ball-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.animated-ball {
    width: 2em;
    height: 2em;
    background-color: var(--final-background-color);
    border-radius: 50%;
    position: absolute;
    animation: bounce 2.5s normal forwards;
}
.animated-ball-shadow-1 {
    background-color: var(--final-background-color);
    opacity: 50%;
    animation: bounce 2.5s 0.025s normal forwards;
}
.animated-ball-shadow-2 {
    background-color: var(--final-background-color);
    opacity: 25%;
    animation: bounce 2.5s 0.050s normal forwards;
}

.animated-title {
    display: flex;
    gap: 10em;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--final-background-color);
    position: relative;
    overflow: hidden;
}

.animated-title span {
    animation: appear 4s forwards;
    opacity: 0;
    font-size: 2em;
    user-select: none;
    text-shadow: 0 0 0.2em, 0 0 0.4em, 0 0 0.6em, 0 0 0.8em, 0 0 1em;
}

.animated-z {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--final-background-color);
    width: 0px;
    height: 0px;
    color: var(--initial-background-color);
    animation: expaned-circle 5s ease-out forwards;
    animation-delay: 2.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.animated-z span {
    text-shadow: 0px 0px 0.2em var(--final-background-color), 0px 0px 0.4em var(--final-background-color), 0px 0px 0.6em var(--final-background-color), 0px 0px 0.8em var(--final-background-color), 0px 0px 1em var(--final-background-color);
}

@media (width < 1024px) {
    .animated-ball {
        width: 2em;
        height: 2em;
    }
    .animated-title {
        gap: 5em;
    }
    .animated-title span {
        font-size: 1.8em;
    }
}

@media (width < 768px) {
    .animated-ball {
        width: 1em;
        height: 1em;
    }
    .animated-title {
        gap: 3em;
    }
    .animated-title span {
        font-size: 1.3em;
    }
}

@media (width < 480px) {

}