.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: .5em;
}

.p-menubar, .p-submenu-list{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 0;
}

.p-menubar-root-list {
    width: max-content;
}

.p-element .p-submenu-list {
    margin-top: 1em;
}

@media screen and (max-width: 960px) {
    .p-menubar .p-menubar-root-list {
        background-color: rgba(255, 255, 255, 0.2);
        border: unset;
        border-radius: 6px;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    }
    .p-submenu-list {
        background-color: rgba(255, 255, 255, 0);
    }
    .p-element .p-submenu-list {
        margin-top: 0em;
    }
}
