<div class="flex min-h-screen flex-col">
  <div class="flex flex-col items-center justify-center rounded-lg px-6 py-24 text-white md:px-20">
    <h1 class="mb-6 text-center text-4xl font-extrabold leading-tight md:text-5xl">Conoce más sobre nosotros</h1>
    <p class="mb-6 text-center text-xl font-semibold opacity-90 md:text-2xl">En Zemios creamos conexiones, compartimos conocimientos y ayudamos a todos a crecer profesionalmente.</p>
  </div>

  <!-- Sección ¿Quiénes somos? con información y equipo -->
  <div class="rounded-t-xl bg-white px-6 py-16 shadow-lg">
    <h2 class="mb-6 text-center text-3xl font-bold text-blue-800 md:text-4xl">¿Quiénes Somos?</h2>
    <p class="mb-6 text-center text-lg text-gray-700 md:text-xl">
      Zemios somos una comunidad apasionada de profesionales y estudiantes del mundo digital, unidos por el aprendizaje y el crecimiento continuo.
    </p>
    <p class="mb-8 text-center text-lg text-gray-700 md:text-xl">
      Nos dedicamos a crear un espacio donde cada miembro pueda aprender, enseñar y conectar con otros. Nuestro objetivo es impulsar el desarrollo personal y profesional, promoviendo la colaboración y
      las oportunidades para todos.
    </p>

    <!-- Sección del equipo -->
    <div class="text-center">
      <h3 class="mb-6 text-2xl font-bold text-blue-800">Conoce a nuestro equipo</h3>
      <div class="flex flex-wrap justify-center gap-12">
        @for (member of teamList; track $index) {
          <a [href]="member.url" target="_blank" class="w-44">
            <div class="flex flex-col items-center">
              <img [src]="member.photo" alt="Miembro del equipo" class="mb-4 h-24 w-24 rounded-full" />
              <p class="text-lg font-semibold text-blue-800">
                {{ member.name }}
              </p>
              <p class="text-gray-700">{{ member.title }}</p>
            </div>
          </a>
        }
        <a href="https://www.linkedin.com/company/zemios/" target="_blank" class="w-44">
          <div class="flex flex-col items-center">
            <div class="mb-4 h-24 w-24 rounded-full bg-blue-200 p-4">
              <i class="bi bi-person-plus-fill rounded-full text-6xl"></i>
            </div>
            <p class="text-lg font-semibold text-blue-800">Tú mismo</p>
            <p class="text-gray-700">Trabaja con Nosotros</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- Sección de contacto -->
  <div class="bg-gray-100 px-6 py-16">
    <h2 class="mb-8 text-center text-3xl font-bold text-blue-800 md:text-4xl">Contáctanos</h2>
    <form class="mx-auto max-w-2xl space-y-6">
      <div class="flex flex-col">
        <label for="name" class="text-lg font-semibold text-gray-700">Nombre</label>
        <input
          type="text"
          id="name"
          name="name"
          class="rounded-lg border border-gray-300 p-4 text-gray-700 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Tu nombre"
          required
        />
      </div>
      <div class="flex flex-col">
        <label for="email" class="text-lg font-semibold text-gray-700">Correo electrónico</label>
        <input
          type="email"
          id="email"
          name="email"
          class="rounded-lg border border-gray-300 p-4 text-gray-700 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Tu correo electrónico"
          required
        />
      </div>
      <div class="flex flex-col">
        <label for="message" class="text-lg font-semibold text-gray-700">Mensaje</label>
        <textarea
          id="message"
          name="message"
          rows="6"
          class="resize-none rounded-lg border border-gray-300 p-4 text-gray-700 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Escribe tu mensaje"
          required
        ></textarea>
      </div>
      <div class="flex justify-center">
        <button type="submit" class="transform rounded-full bg-blue-900 px-8 py-3 text-lg font-semibold text-white transition-all duration-300 hover:scale-105 hover:bg-blue-800">
          Enviar mensaje
        </button>
      </div>
    </form>
  </div>

  <!-- Sección de ayuda -->
  <div class="bg-white py-12">
    <div class="text-center">
      <h2 class="mb-6 text-3xl font-bold text-blue-800">¿Necesitas ayuda?</h2>
      <button routerLink="/help" class="mx-3 rounded-full bg-blue-900 px-8 py-3 text-lg font-semibold text-white transition-all duration-300 hover:scale-105 hover:bg-blue-800">
        Visita nuestra página de ayuda
      </button>
    </div>
  </div>

  <!-- Redes sociales -->
  <div class="bg-white py-12">
    <div class="text-center">
      <h2 class="mb-6 text-3xl font-bold text-blue-800">Síguenos en nuestras redes</h2>
      <div class="flex justify-center gap-8 text-blue-900">
        <a href="https://www.instagram.com/zemios_company" target="_blank" class="text-4xl transition-all hover:text-gray-600">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="https://x.com/zemios_company" target="_blank" class="text-4xl transition-all hover:text-gray-600">
          <i class="bi bi-twitter-x"></i>
        </a>
        <a href="https://www.linkedin.com/company/zemios/" target="_blank" class="text-4xl transition-all hover:text-gray-600">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</div>
