<div class="contact-container">
  <h2>https://www.helpscout.com/blog/contact-us-page-examples/</h2>

  <div class="cards-container">
    <p-card header="Email">
      <p>fdsfsfs</p>
      <p-footer>
        <a href="mailto:">Contactar</a>
      </p-footer>
    </p-card>
    <p-card header="Email">
      <p>fdsfsfs</p>
      <p-footer>
        <a href="mailto:">Contactar</a>
      </p-footer>
    </p-card>
    <p-card header="Email">
      <p>fdsfsfs</p>
      <p-footer>
        <a href="mailto:">Contactar</a>
      </p-footer>
    </p-card>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d28803.937139904792!2d-3.191734106086234!3d40.63779990945329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1724491280744!5m2!1ses!2ses"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
