<div class="flex flex-col">
  <div class="flex flex-col flex-wrap items-center justify-around gap-8 rounded-lg px-6 py-24 text-white md:px-20 xl:flex-row">
    <div class="flex max-w-lg flex-col items-center text-center md:items-start md:text-left">
      <h1 class="mb-4 text-4xl font-extrabold leading-tight md:text-5xl">Últimas Noticias</h1>
      <h2 class="mb-6 text-xl font-semibold opacity-80 md:text-2xl">Mantente informado con las últimas actualizaciones del mundo tecnológico y ofertas de empleo</h2>
    </div>
  </div>

  <div class="bg-white px-6 py-6 shadow-md md:px-20">
    <h2 class="mb-6 text-center text-2xl font-bold text-blue-800 md:text-3xl">Filtrar por Categoría</h2>
    <div class="mb-6 flex flex-wrap justify-center gap-2 md:gap-6">
      <button
        (click)="filterNews('')"
        [class.bg-blue-700]="selectedCategory === ''"
        class="transform rounded-full bg-blue-900 px-6 py-2 font-semibold text-white transition-all hover:scale-105 hover:bg-blue-800"
      >
        Todas
      </button>
      <button
        (click)="filterNews('actualidad')"
        [class.bg-blue-700]="selectedCategory === 'actualidad'"
        class="transform rounded-full bg-blue-900 px-6 py-2 font-semibold text-white transition-all hover:scale-105 hover:bg-blue-800"
      >
        Actualidad
      </button>
      <button
        (click)="filterNews('empleo')"
        [class.bg-blue-700]="selectedCategory === 'empleo'"
        class="transform rounded-full bg-blue-900 px-6 py-2 font-semibold text-white transition-all hover:scale-105 hover:bg-blue-800"
      >
        Empleo
      </button>
    </div>
  </div>

  <div class="bg-gray-100 px-6 py-16 shadow-lg">
    <h2 class="mb-6 text-center text-3xl font-bold text-blue-800 md:text-4xl">Noticias Relevantes</h2>
    <div class="flex flex-wrap justify-center gap-6 flex-row">
      @for (article of filteredNews; track $index) {
        <div class="items-between flex max-w-96 transform flex-col justify-start rounded-2xl bg-white px-6 py-6 text-center text-blue-800 shadow-lg transition-transform hover:scale-105">
          <img [src]="article.image" [alt]="article.title" onerror="this.src='error.svg'" class="mb-6 rounded-2xl object-contain" />
          <p class="mb-2 text-2xl font-semibold">{{ article.title }}</p>
          <p class="mb-4 text-gray-600">{{ article.content }}</p>
          <a routerLink="/news/article/{{ article.id }}" class="mt-auto font-medium text-blue-500 hover:underline">Leer más</a>
        </div>
      }
    </div>
  </div>

  <div class="bg-gradient-to-r from-blue-500 to-purple-600 px-6 py-16 text-center text-white">
    <h2 class="mb-6 text-3xl font-bold md:text-4xl">¿Tienes alguna pregunta?</h2>
    <p class="mb-6 text-lg">Contáctanos y únete a nuestra comunidad.</p>
    <a routerLink="/contact" class="transform rounded-full bg-white px-8 py-3 text-lg font-semibold text-blue-900 transition-all duration-300 hover:scale-105"> Contáctanos </a>
  </div>
</div>
