<div
  class="flex min-h-screen flex-col items-center justify-center px-6 py-24 text-white"
>
  <div class="text-center">
    <h1 class="animate__animated animate__fadeIn mb-4 text-6xl font-extrabold">
      404
    </h1>
    <h2 class="mb-4 text-3xl font-semibold md:text-4xl">
      Página no encontrada
    </h2>
    <p class="mb-8 text-lg opacity-80 md:text-xl">
      Lo sentimos, la página que estás buscando no existe o ha sido movida.
    </p>
    <a
      routerLink="/"
      class="transform rounded-full bg-white px-8 py-3 text-lg font-semibold text-blue-900 transition-all duration-300 hover:scale-105 hover:bg-gray-100"
    >
      Volver al inicio
    </a>
  </div>

  <div class="mt-12 flex justify-center gap-8 text-white">
    <a
      href="https://www.instagram.com/zemios_company"
      target="_blank"
      class="text-4xl transition-all hover:text-gray-200"
    >
      <i class="bi bi-instagram"></i>
    </a>
    <a
      href="https://x.com/zemios_company"
      target="_blank"
      class="text-4xl transition-all hover:text-gray-200"
    >
      <i class="bi bi-twitter-x"></i>
    </a>
    <a
      href="https://www.linkedin.com/company/zemios/"
      target="_blank"
      class="text-4xl transition-all hover:text-gray-200"
    >
      <i class="bi bi-linkedin"></i>
    </a>
  </div>

  <p class="mt-12 cursor-pointer text-xl" routerLink="/Help">
    ¿Necesitas ayuda? Haz click <b>aquí</b>
  </p>
</div>
