<div class="fixed inset-0 bg-gray-700 bg-opacity-75 flex justify-center items-center">
    <div class="bg-white rounded-2xl shadow-2xl w-96 p-8" modal-content>
        <h2 class="text-3xl font-bold mb-6 text-center text-blue-600">Crear Publicación</h2>
        
        <!-- Formulario para crear publicación -->
        <form>
            <!-- Título -->
            <div class="mb-6">
                <label for="titulo" class="text-lg font-semibold text-neutral-900 p-1 rounded-md">Título</label>
                <input type="text" id="titulo" name="titulo" class="w-full mt-3 text-neutral-700 p-3 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 transition ease-in-out duration-300" placeholder="Escribe el título de la publicación" required>
            </div>

            <!-- Contenido -->
            <div class="mb-6">
                <label for="contenido" class="block text-lg font-semibold text-neutral-900 p-1 rounded-md">Contenido</label>
                <textarea id="contenido" name="contenido" class="w-full resize-none mt-3 text-neutral-700 p-3 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 transition ease-in-out duration-300" rows="5" placeholder="Escribe el contenido de la publicación" required></textarea>
            </div>

            <!-- Botones -->
            <div class="flex justify-around items-center gap-4 mt-6 flex-wrap">
              <!-- ! Esto estaria bien que fuese mas que un boton en la parte de debajo que fuese una x en la parte superior derecha -->
                <button type="button" (click)="closeModal()" class="px-5 py-3 bg-red-500 text-white font-semibold rounded-lg hover:bg-red-600 shadow-lg transition transform hover:scale-110">Cancelar</button>
                <button type="submit" (click)="sendPost()" class="px-5 py-3 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 shadow-lg transition transform hover:scale-110">Publicar</button>
            </div>
        </form>
    </div>
</div>
