<div class="flex h-full flex-col justify-between">
  <div class="striped-band"></div>
  <div
    class="flex flex-col items-center justify-center gap-10 px-5 py-16 md:flex-row"
  >
    <img src="maintenance_logo_mono.svg" alt="" class="w-56" />
    <div class="flex flex-col items-center gap-2 md:items-start">
      <p class="hidden text-6xl font-bold md:flex">:&#40;</p>
      <p class="text-3xl">Página en Mantenimiento</p>
      <div class="flex flex-col items-center md:items-start">
        <p>Estamos trabajando para mejorar esta página.</p>
        <p>Pronto estará disponible nuevamente.</p>
      </div>
      <a
        routerLink="/"
        class="transform rounded-full bg-white px-8 py-3 text-lg font-bold text-blue-900 transition-all duration-300 hover:scale-105 hover:bg-gray-100"
      >
        Volver al Inicio
      </a>
    </div>
  </div>
  <div class="striped-band"></div>
</div>
