$color: #d9e446;

.striped-band {
  height: 3em;
  width: 100%;
  background: linear-gradient(
    45deg,
    $color 0%,
    $color 5%,
    transparent 5%,
    transparent 10%,
    $color 10%,
    $color 15%,
    transparent 15%,
    transparent 20%,
    $color 20%,
    $color 25%,
    transparent 25%,
    transparent 30%,
    $color 30%,
    $color 35%,
    transparent 35%,
    transparent 40%,
    $color 40%,
    $color 45%,
    transparent 45%,
    transparent 50%,
    $color 50%,
    $color 55%,
    transparent 55%,
    transparent 60%,
    $color 60%,
    $color 65%,
    transparent 65%,
    transparent 70%,
    $color 70%,
    $color 75%,
    transparent 70%,
    transparent 80%,
    $color 80%,
    $color 85%,
    transparent 85%,
    transparent 90%,
    $color 90%,
    $color 95%,
    transparent 95%
  );
  background-size: 30em 30em;
  opacity: 1;
}
