.footer {
  width: 100%;
  /* position: fixed; */
  /* bottom: 0; */
  clip-path: ellipse(100% 83% at 28% 100%);

  padding: 6em 0 2em; 
}

.footer footer ul {
  display: flex;
  list-style: none;
  gap: 1em;
  justify-content: space-around;
  align-items: end;
  margin: 0;
}

.footer footer ul li:nth-child(1) {
  font-size: clamp(1rem, 10vw, 20rem);
}

.footer footer ul li:nth-child(2) a {
  text-decoration: none;
  color: white;
}

.footer footer ul .animated-text {
  display: flex;
  gap: 0;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.animated-text li {
  transform: rotate(0deg);
  transition: transform 250ms ease-in-out; 
}

.animated-text li:nth-child(1) {transition-delay: 0ms;}
.animated-text li:nth-child(2) {transition-delay: 125ms;}
.animated-text li:nth-child(3) {transition-delay: 250ms;}
.animated-text li:nth-child(4) {transition-delay: 375ms;}
.animated-text li:nth-child(5) {transition-delay: 500ms;}
.animated-text li:nth-child(6) {transition-delay: 725ms;}
.animated-text:hover li:nth-child(1) {transform: translatey(0.5em);}
.animated-text:hover li:nth-child(2) {transform: translatey(0.5em);}
.animated-text:hover li:nth-child(3) {transform: translatey(0.5em);}
.animated-text:hover li:nth-child(4) {transform: translatey(0.5em);}
.animated-text:hover li:nth-child(5) {transform: translatey(0.5em);}
.animated-text:hover li:nth-child(6) {transform: translatey(0.5em);}

/* Estilo de fondo 1 */
/* .footer {
  background: linear-gradient(-45deg, #376591, #194e83, #3d3396, #694796);
  animation: gradient 10s linear infinite;
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

/* Estilo de fondo 2 */
.footer {
  background-color: rgba(255, 255, 255, 0.2);
}
