<div class=" flex justify-around flex-wrap py-10 text-neutral-700">
    <div class="flex-1 flex flex-col justify-start items-center">
        <a href="mailto:info@zemios.com" class="flex px-2 hover:text-blue-400 font-bold">info&#64;zemios.com</a>
        <ul class="flex gap-4 font-bold">
            <li><a class="instagram" href="https://www.instagram.com/zemios">Instagram</a></li>
            <!-- <li class="twitter"><a href="https://x.com/zemios">Twitter</a></li> -->
            <li><a class="linkedin" href="https://www.linkedin.com/company/zemios/">LinkedIn</a></li>
        </ul>
    </div>
    <div class="flex-1 flex flex-col justify-start items-center">
        <p>ZEMIOS</p>
    </div>
    <div class="flex-1 flex justify-center">
        <ul class="flex flex-wrap">
            @for (page of pages; track $index) {
            <li><a class="px-2 hover:text-blue-400" [routerLink]="page.url">{{page.title}}</a></li>
            }
        </ul>
    </div>
</div>
<p class="flex justify-center pb-2">&#169; 2024 Zemios. Todos los derechos reservados</p>