.footer {
  width: 100%;
  background-color: black;
}

.footer footer ul {
  display: flex;
  list-style: none;
  gap: 1em;
  justify-content: space-around;
  align-items: end;
  margin: 0;
}

.footer footer ul li:nth-child(1) {
  font-size: clamp(1rem, 10vw, 20rem);
}

.footer footer ul li:nth-child(2) a {
  text-decoration: none;
  color: white;
}
