.instagram {
  background: linear-gradient(90deg, #833ab4, #fd1d1d, #fcb045);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  &:hover {
    background: linear-gradient(90deg, #833ab4, #fd1d1d, #fcb045);
    color: #fff;
    background-clip: unset;
    -webkit-text-fill-color: unset;
  }
}

.twitter {
  background: linear-gradient(90deg, #757575, #000);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  &:hover {
    background: linear-gradient(90deg, #757575, #000);
    color: #fff;
    background-clip: unset;
    -webkit-text-fill-color: unset;
  }
}

.linkedin {
  transition: 100ms;
  color: #0a66c2;

  &:hover {
    background-color: #0a66c2;
    color: #fff;
  }
}

.linkedin,
.instagram,
.twitter {
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
}
