<div class="bg-purple-600 text-white py-6 px-8 rounded-lg shadow-lg flex flex-col md:flex-row justify-between items-center text-center md:text-left mx-10 my-10">
    <div class="mb-4 md:mb-0 md:mr-6">
        <p class="text-lg font-medium">¿Quieres apoyarnos? Únete a nuestro Patreon y ayuda a que más programadores juniors crezcan con Zemios.</p>
    </div>
    <a href="https://patreon.com/Zemios?utm_medium=unknown&utm_source=join_link&utm_campaign=creatorshare_creator&utm_content=copyLink" target="_blank" class="bg-white text-purple-600 hover:bg-gray-100 font-bold py-2 px-6 rounded-full inline-flex items-center transition-transform transform hover:scale-105 duration-50 shadow-md">
        <i class="bi bi-heart-fill text-red-500 mr-2"></i> 
        Patreon
    </a>
</div>
<div class=" flex justify-center lg:justify-around items-center flex-wrap lg:flex-row lg:flex-nowrap p-4 sm:p-10 gap-3 text-neutral-700">
    <div class=" flex flex-col gap-2 justify-start items-center order-2 lg:order-1  max-w-96">
        <a href="mailto:info@zemios.com" class="flex px-2 hover:text-blue-400 font-bold">info&#64;zemios.com</a>
        <ul class="flex flex-wrap gap-4 font-bold justify-center">
            <li><a class="instagram" target="_blank" href="https://www.instagram.com/zemios_company">Instagram</a></li>
            <li><a class="twitter" target="_blank" href="https://x.com/zemios_company">Twitter</a></li>
            <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/company/zemios/">LinkedIn</a></li>
        </ul>
    </div>
    <div class="flex w-full lg:w-auto flex-col justify-start items-center order-1 lg:order-2">
        <img src="images/title.svg" routerLink="/" class="cursor-pointer max-h-10" alt="Title">
    </div>
    <div class="flex justify-center order-3 max-w-72">
        <ul class="flex flex-wrap justify-center lg:justify-start">
            @for (page of pages; track $index) {
            <li><a class="px-2 hover:text-blue-400" [routerLink]="page.url">{{page.title}}</a></li>
            }
        </ul>
    </div>
</div>
<p class="flex justify-center text-center pb-2">&#169; 2024 Zemios. Todos los derechos reservados.</p>