<div class="flex flex-col">
  <div class="banner flex flex-col flex-wrap items-center justify-around gap-8 rounded-lg px-6 py-24 text-white md:px-20 xl:flex-row">
    <div class="order-1 flex max-w-lg flex-col items-center text-center md:order-2 md:items-start md:text-left xl:order-1">
      <h1 class="mb-4 text-4xl font-extrabold leading-tight md:text-5xl">Conéctate, Aprende y Crece</h1>
      <h2 class="mb-6 text-xl font-semibold opacity-80 md:text-2xl">Forma parte de una comunidad que impulsa tu desarrollo profesional</h2>
      <p class="mb-6 text-lg opacity-80 md:text-xl">Compartimos conocimientos, oportunidades y mucho más para ayudarte a avanzar.</p>
      <div class="flex flex-wrap items-center justify-center gap-3 text-center">
        <a routerLink="/explore" class="transform rounded-full bg-white px-8 py-3 text-lg font-semibold text-blue-900 transition-all duration-300 hover:scale-105 hover:bg-gray-100">
          Explora la Comunidad
        </a>
        <a routerLink="/sign-in" class="transform rounded-full border-2 border-white bg-transparent px-8 py-3 text-lg font-semibold text-white transition-all duration-300 hover:scale-105">
          Únete a Nosotros
        </a>
      </div>
    </div>
    <div class="order-2 flex justify-center px-3 sm:px-0 md:order-1 xl:order-2">
      <img src="images/title.svg" alt="Banner Image" class="banner-image h-20 transform transition-transform duration-500 hover:scale-105" />
    </div>
  </div>
  <div class="rounded-t-xl bg-white px-6 py-16 shadow-lg">
    <h2 class="mb-6 text-center text-3xl font-bold text-blue-800 md:text-4xl">¿Quiénes Somos?</h2>
    <p class="mb-6 text-center text-lg text-gray-700 md:text-xl">
      En Zemios, somos una comunidad apasionada de profesionales y estudiantes del mundo digital, unidos por el aprendizaje y el crecimiento continuo.
    </p>
    <p class="mb-8 text-center text-lg text-gray-700 md:text-xl">
      Nos dedicamos a crear un espacio donde cada miembro pueda aprender, enseñar y conectar con otros. Nuestro objetivo es impulsar el desarrollo personal y profesional, promoviendo la colaboración y
      las oportunidades para todos.
    </p>
    <div class="mb-6 flex justify-center gap-4">
      <a routerLink="/contact" class="transform rounded-full bg-blue-900 px-8 py-3 text-lg font-semibold text-white transition-all duration-300 hover:scale-105 hover:bg-blue-800">
        Conoce más sobre nosotros
      </a>
    </div>
    <div class="flex justify-center gap-8 text-blue-900">
      <a href="https://www.instagram.com/zemios_company" target="_blank" class="text-4xl transition-all hover:text-gray-600">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://x.com/zemios_company" target="_blank" class="text-4xl transition-all hover:text-gray-600">
        <i class="bi bi-twitter-x"></i>
      </a>
      <a href="https://www.linkedin.com/company/zemios/" target="_blank" class="text-4xl transition-all hover:text-gray-600">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>
  </div>

  <div class="hidden flex-wrap items-center justify-center gap-0 bg-white py-5 lg:flex xl:gap-4">
    @for (itemList of joinUsList; track $index) {
      <div
        class="flex h-72 w-48 transform cursor-pointer flex-col items-center justify-start rounded-xl px-4 text-center transition-transform hover:scale-105 xl:h-80 xl:w-60"
        [routerLink]="itemList.url"
      >
        <img src="icons/{{ itemList.icon }}" class="mb-4 w-20 p-4 xl:w-32" alt="icon" />
        <p class="mb-2 text-xl font-semibold text-blue-800 xl:text-2xl">
          {{ itemList.title }}
        </p>
        <p class="text-sm text-gray-600 xl:text-base">
          {{ itemList.description }}
        </p>
      </div>
    }
  </div>
  <div class="flex flex-col items-start gap-6 bg-white px-4 py-10 lg:hidden">
    @for (itemList of joinUsList; track $index) {
      <div class="flex items-start gap-4" [routerLink]="itemList.url">
        <img src="icons/{{ itemList.icon }}" class="h-16 w-16 object-cover" alt="icon" />
        <div class="flex flex-col justify-center">
          <p class="text-xl font-semibold text-blue-800">
            {{ itemList.title }}
          </p>
          <p class="text-sm text-gray-600">{{ itemList.description }}</p>
        </div>
      </div>
    }
  </div>
  <!-- Noticias o posts ¿ -->
  @if (mainNews.length) {
    <div class="flex flex-col justify-center px-4 py-24">
      <h2 class="m-auto mb-8 text-3xl font-bold text-white md:text-4xl">Noticias relevantes</h2>
      <!-- ¿ Un efecto de carrusel estaria increible -->
      <!-- PrimeNG tiene unos carruseles muy bonitos pero estan en beta para angular 19 -->
      <div class="flex flex-col flex-wrap items-center justify-center gap-6 md:flex-row">
        @for (news of mainNews; track $index) {
          @if ($index < 3) {
            <!-- Esto esta bien, pero no deberia ser necesario ya que no tiene sentido que cargue todas las noticias para solo mostrar 3  -->
            <div class="flex max-w-96 transform flex-col items-center justify-start rounded-2xl bg-white px-6 pb-6 text-center text-blue-800 shadow-lg transition-transform hover:scale-105">
              <img src="{{ news.image }}" onerror="this.src='error.svg'" alt="Imagen noticia" class="my-6 rounded-2xl object-contain" />
              <p class="mb-2 text-2xl font-semibold">{{ news.title }}</p>
              <p class="mb-4 text-gray-600">{{ news.content }}</p>
              <a routerLink="/news/article/{{ news.id }}" class="mt-auto font-medium text-blue-500 hover:underline">Leer más</a>
            </div>
          }
        }
      </div>
    </div>
  }

  <div class="bg-white">
    @if (lastCourses.length) {
      <div class="flex flex-col items-center justify-between px-4 py-12 lg:flex-row">
        <div class="m-auto mb-8 text-center text-3xl font-bold text-neutral-700 md:text-4xl lg:mb-auto">
          <h2>Amplia tus conocimientos</h2>
          <p class="text-lg text-neutral-500">Visita nuestros cursos gratuitos!</p>
        </div>
        <div class="flex h-auto w-full flex-row flex-wrap justify-around gap-2">
          @for (course of lastCourses; track $index) {
            @if ($index < 3) {
              <div class="flex flex-grow transform flex-col items-center justify-between rounded-2xl bg-gray-800 p-6 text-center text-white transition-all">
                <h3 class="mb-4 text-xl font-bold">
                  {{ course.title }}
                </h3>
                <p class="mb-4 w-auto text-gray-300 sm:w-56">
                  {{ course.content }}
                </p>
                <a href="#" class="font-bold text-blue-400 hover:underline">Ver más</a>
              </div>
            }
          }
        </div>
      </div>
    }
    @if (lastProjects.length) {
      <div class="flex flex-col items-center justify-between px-4 py-12 lg:flex-row">
        <div class="order-2 flex h-auto w-full flex-row flex-wrap justify-around gap-2 lg:order-1">
          @for (project of lastProjects; track $index) {
            @if ($index < 3) {
              <div class="relative flex transform flex-col items-center justify-between rounded-2xl bg-gray-800 p-6 text-center text-white transition-all">
                <img src="{{ project.image }}" onerror="this.src='error.svg'" class="absolute top-0 h-full w-full rounded-2xl object-cover opacity-0 hover:opacity-100" alt="Proyect Image" />
                <h3 class="mb-4 text-xl font-bold text-blue-700">{{ project.name }}</h3>
                <p class="mb-4 w-auto text-gray-300 sm:w-56">{{ project.description }}</p>
                <ul class="m-0 flex list-none">
                  <!-- @for (collaborator of project.collaborator; track $index) {
                    <li
                      class="-ms-5 rounded-full border-2 border-gray-800 text-gray-300"
                    >
                      <img
                        src="{{ collaborator.image }}"
                        alt="{{ collaborator.name }} photo"
                        class="h-12 w-12 rounded-full object-cover"
                      />
                    </li>
                  } -->
                </ul>
              </div>
            }
          }
        </div>
        <div class="order-1 m-auto mb-8 text-center text-3xl font-bold text-neutral-700 md:text-4xl lg:order-2 lg:mb-auto">
          <h2>Colaboremos juntos</h2>
          <p class="text-lg text-neutral-500">Únete a nuestros últimos proyectos!</p>
        </div>
      </div>
    }
  </div>

  <!-- Unete a nosotros y contacto -->
  <div class="flex flex-col justify-center bg-gradient-to-r from-blue-500 to-purple-600 px-6 py-24">
    <h2 class="m-auto mb-8 text-3xl font-bold text-white md:text-4xl">Únete a nosotros</h2>

    <p class="mb-8 text-center text-lg text-white drop-shadow-lg md:text-xl">
      Forma parte de una comunidad vibrante que comparte conocimientos, oportunidades y proyectos. ¡Juntos podemos crecer y alcanzar nuevas metas!
    </p>

    <div class="mb-10 text-center">
      <a
        routerLink="/sign-up"
        class="duration-50 inline-flex transform items-center rounded-full bg-white px-6 py-2 text-lg font-bold text-neutral-700 shadow-md transition-transform hover:scale-105 hover:bg-gray-100"
      >
        Crear perfil
      </a>
    </div>

    <div class="flex flex-col items-center justify-center gap-12 text-center lg:flex-row">
      <div class="mb-6 flex gap-8 lg:mb-0">
        <a href="https://www.instagram.com/zemios_company" target="_blank" class="text-4xl text-white transition-all hover:text-gray-200">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="https://x.com/zemios_company" target="_blank" class="text-4xl text-white transition-all hover:text-gray-200">
          <i class="bi bi-twitter-x"></i>
        </a>
        <a href="https://www.linkedin.com/company/zemios/" target="_blank" class="text-4xl text-white transition-all hover:text-gray-200">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>

      <div class="text-white">
        <p class="mb-2 text-lg font-semibold">¿Tienes alguna pregunta? Contáctanos:</p>
        <a href="mailto:info@zemios.com" class="transform text-lg font-semibold text-white underline duration-300 hover:scale-105 hover:text-gray-200">info&#64;zemios.com</a>
      </div>
    </div>
  </div>
</div>
