<div class="container">
  <div class="parent">
    <div class="card">
      <div class="content-box">
        <h1 class="card-title">La fábrica Martos</h1>
        <p class="card-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sequi
          illo nam repudiandae tempore quaerat veritatis doloremque omnis
          molestias id.
        </p>
        <button class="see-more">See More</button>
      </div>
      <div class="date-box">
        <img src="./media/lafabricalogo.svg" alt="" />
        <!-- <span class="month">JUNE</span>
                <span class="date">29</span> -->
      </div>
    </div>
  </div>

  <!-- <div class="parent card2">
        <div class="card ">
            <div class="content-box">
                <h1 class="card-title">Card Title</h1>
                <p class="card-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sequi illo nam repudiandae tempore quaerat veritatis doloremque omnis molestias id.
                </p>
                <button class="see-more">See More</button>
            </div>
            <div class="date-box">
                <span class="month">JUNE</span>
                <span class="date">29</span>
            </div>
        </div>
    </div>

    <div class="parent card3">
        <div class="card">
            <div class="content-box">
                <h1 class="card-title">Card Title</h1>
                <p class="card-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sequi illo nam repudiandae tempore quaerat veritatis doloremque omnis molestias id.
                </p>
                <button class="see-more">See More</button>
            </div>
            <div class="date-box">
                <span class="month">JUNE</span>
                <span class="date">29</span>
            </div>
        </div>
    </div>

    <div class="parent card4">
        <div class="card">
            <div class="content-box">
                <h1 class="card-title">Card Title</h1>
                <p class="card-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sequi illo nam repudiandae tempore quaerat veritatis doloremque omnis molestias id.
                </p>
                <button class="see-more">See More</button>
            </div>
            <div class="date-box">
                <span class="month">JUNE</span>
                <span class="date">29</span>
            </div>
        </div>
    </div> -->
</div>
