<div class="min-h-screen bg-gray-100 px-6 py-12">
  <h2 class="mb-8 text-center text-4xl font-bold text-blue-800">Cursos Gratuitos de la Comunidad</h2>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
    <!-- Repetir este bloque por cada curso -->
    <div class="overflow-hidden rounded-lg bg-white shadow-lg">
      <img src="foto" onerror="this.src='error.svg'" alt="Curso Imagen" class="h-48 w-full object-cover" />
      <div class="p-6">
        <h3 class="mb-4 text-2xl font-bold text-blue-800">Nombre del Curso</h3>
        <p class="mb-4 text-gray-700">Descripción breve del curso y sus objetivos principales. Indica también si es autodidacta o guiado.</p>
        <a routerLink="/course" class="block transform rounded-lg bg-blue-800 px-4 py-2 text-center font-bold text-white transition-all duration-300 hover:scale-105 hover:bg-blue-700"
          >Acceder al Curso</a
        >
      </div>
    </div>
  </div>
  <!-- Fin de bloque de curso -->
</div>
