@tailwind base;
@tailwind components;
@tailwind utilities;
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #376591, #194e83, #3d3396, #694796);
    background-size: 400% 400%;
    animation: gradient 10s linear infinite;
}

app-root {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 0 1fr auto;
}

.banner {
    min-height: calc(100vh - 76px);
    @media (min-width: 1024px) {
        min-height: calc(100vh - 88px);
      }
}
/* Esto con los pixeles ajustados es horribles */
/* Si hay otra forma de hacerlo mejor, hay que arreglarlo */

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

/* MEDIA QUERYS TEMPLATE */
@media (min-width: 480px) {}
@media (min-width: 768px) {}
@media (min-width: 1024px) {}
@media (min-width: 1200px) {}
@media (min-width: 1920px) {}