/* CONTACT PAGE */
.cards-container .p-card-body {
  border-radius: 5px;
}

.cards-container .p-card-body {
  text-align: center;
}

.cards-container .p-card-body .p-card-footer a {
  font-weight: 700;
  text-decoration: none;
  gap: 0.5em;
  font-size: 0.9em;
}

.cards-container .p-card {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  height: 100%;
}

/* HEADER */
a.p-menuitem-link:hover > span,
a.p-menuitem-link:active > span {
  color: black;
}
